{% extends 'base.html'%} {% block 'css' %} {% endblock %} {% block title %} homepage {% endblock %} {%block 'content' %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout/">Logout</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<p>Vous êtes identifié!</p>
les corrections {% for correction in corrections %}
<div class="card text-left col-3">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
        <h4 class="card-title">correction <strong>{{ correction.id }}</strong></h4>
        <p> Intitulet : <strong>{{ correction.intitulet }}</strong> </p>
        <a name="" id="" class="btn btn-primary" href="/biblio/read/{{ correction.file }}" class="btn btn-primary">Read</a>
        <a name="" id="" class="btn btn-primary" href="/biblio/download/{{ correction.file }}" class="btn btn-primary">Download</a>
        {%if correction.id_user_id == request.user.id %}
        <a name="" id="" class="btn btn-primary" href="update/{{ correction.id }}" class="btn btn-primary">Update</a>
        {%endif%}
    </div>
      
       
</div>
{%endfor %} {% endblock %} {% block 'js'%} {% endblock%}