{% extends 'base.html'%} {% block 'css' %} {% endblock %} {% block title %} homepage {% endblock %} {%block 'content' %}
<div class="container">
    <div class="container row w-25 w-25-sm p-0-sm mx-auto shadow-lg mt-5">
        <div class="col my-5">
            {% load crispy_forms_tags %}
            <form class="form-horizontal" method="post" action="" novalidate>
                {% csrf_token %} {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} {% block 'js'%} {% endblock%}