{% extends 'layouts/base.html' %}

{% load static %}

{%block css %}
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
{% endblock %}

{% block title %} Dashboard {% endblock %}

{%block content %}
<div class="container mt-5">
    <div class="row"></div>
</div>
<div class="container mt-5 mb-5">
    <div class="row row-cols-3 row-cols-lg-4">
        {% for correction in corrections %}
        <div class="col">
            <div class="card shadow-xl mt-3 rounded">
                <div class="align-items-center p-2 text-center">
                    <img src="{% static 'images/dev.png' %}" alt="" class="card-img-top rounded" width="160">
                    <div class="card-body mt-3 info">
                        <h5 class="card-title"><strong>{{ correction.id }}.{{ correction.intitulet }}</strong></h5>
                        <p class="text-start"><strong> Matiere: </strong>
                            <!-- {{ correction.matiere | truncatechars:"10" }}</p>
                        <p class="text-start"><strong>Filiere:</strong> {{correction.filiere }} </p>
                        <p class="text-start"> <strong><i class="fa-solid fa-chalkboard-user"></i></strong>
                            {{ correction.professeur }}</p> -->
                     </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}