{% extends 'layouts/base.html' %}
{% block title} Dlashboard {%block %}

{% block title} {%block %}

{%block content %}
{% for epreuve in epreuves %}
<div class="card text-left col-3">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
        <h4 class="card-title">Epreuve <strong>{{ epreuve.id }}</strong></h4>
        <p> Intitulet : <strong>{{ epreuve.intitulet }}</strong> </p>
        <p> Matiere : <strong>{{ epreuve.matiere }}</strong> </p>
        <p> Filiere : <strong>{{ epreuve.filiere}}</strong></p>
        <p>Professeur : <strong>{{ epreuve.professeur }}</strong> </p>
        <a name="" id="" class="btn btn-primary" href="/biblio/download/{{ epreuve.file }}"
            class="btn btn-primary">Download</a>
        <a name="" id="" class="btn btn-primary" href="#" role="button">Ajouter correction</a>
        <a name="" id="" class="btn btn-primary" href="correction/{{epreuve.id}}" role="button">Corrections</a>
    </div>
</div>
{%endfor%}

{% for correction in corrections %}
<div class="card text-left col-3">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
        <h4 class="card-title">Epreuve <strong>{{ correction.id }}</strong></h4>
        <p> Intitulet : <strong>{{ correction.intitulet }}</strong> </p>
        <a name="" id="" class="btn btn-primary" href="/biblio/download/{{ epreuve.file }}"
            class="btn btn-primary">Download</a>
        <a name="" id="" class="btn btn-primary" href="#" role="button">Ajouter correction</a>
        <a name="" id="" class="btn btn-primary" href="correction/{{epreuve.id}}" role="button">Corrections</a>
    </div>
</div>
{%endfor%}
{% endblock %}